/*body {
  font-family: "Helvetica Neue", Helvetica;
  width: 90%;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 25px auto 0 auto;
  background: rgb(234, 235, 235);
  color: rgb(25, 25, 25);
}

svg, p {
  margin: 0 auto;
}

p {
  color: rgb(125, 125, 125);
  font-size: 0.85rem;
  text-align: center;
  margin-bottom: 17px;
}

svg {
  display: block;
  width: 500px;
}

rect {
  transform-origin: 0% 0%;
}*/

body{
	color:white;
    overflow:hidden;
    background-color: black;
}

.simple-circle{
    color: rgba(1, 1, 140);
}

#svg-playground{
    top: 0px;
    left: 0px;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: black;
}


#container { 
    position:absolute;
    top:0;
    left:0;
    padding:0;
    background-color:black;
}

	#artboard-1 {
		stroke-dasharray: 800;
		strong-dashoffset: 0;
		-webkit-animation: dash 2s linear forwards;
		-o-animation: dash 2s linear forwards;
		-moz-animation: dash 2s linear forwards;
		animation: dash 2s linear forwards;
		}

		@-webkit-keyframes-dash {
			from {
			stroke-dashoffset: 800;
			}
			to {
			stroke-dashoffset: 0;
			}
		}